@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

* {
  font-family: "Lexend", sans-serif;
  background-color: #FEFBF6;
}
/* navbar style */
.navbar{
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 5px solid #f2f2f2;
}
.navbar h1{
  color: #A6D1E6;
}
.navbar .links{
  margin-left: auto;
}

.navbar a{
  margin-left: 20px;
  color: #3D3C42;
  text-decoration: none;
}
.navbar a:hover{
  color: #C0DBEA;
  text-decoration: none;
}


.content{
  max-width: 600px;
  margin: 10px auto;
  padding: 10px;
}

.content h2{
  color: #3D3C42;
}

.btn{
  background-color: #406343;
  border-radius: 5px;
  padding: 10px;
  color: #ffffff;
}
/* end */

/* home style */
.button{
  border: none;
  background-color: #406343;
  border-radius: 5px;
  padding: 10px;
  color: #ffffff;
  margin-left: auto;
}
.button:hover{
  border: none;
  background-color: #9BCF53;
  border-radius: 5px;
  padding: 10px;
  color: #ffffff;
  margin-left: auto;
}
.header{
  display: flex;
  align-items: center;
}
/* end */

