@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

* {
  font-family: "Lexend", sans-serif;
  background-color: #fefbf6;
  color: #3d3c42;
}
/* navbar style */
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 5px solid #f2f2f2;
}
.navbar h1 {
  color: #149eca;
}
.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 20px;
  color: #3d3c42;
  text-decoration: none;
}
.navbar a:hover {
  color: #149eca;
  text-decoration: none;
}

.content {
  max-width: 600px;
  margin: 20px auto;
  padding: 10px;
}

.content h2 {
  font-weight: 500;
}

/* end */

/* home style */
.button {
  border: none;
  background-color: #406343;
  border-radius: 5px;
  padding: 10px;
  color: #ffffff;
  margin-left: auto;
}
.button:hover {
  border: none;
  background-color: #9bcf53;
  border-radius: 5px;
  padding: 10px;
  color: #ffffff;
  margin-left: auto;
}
.header {
  display: flex;
  align-items: center;
}
/* end */

/* blogs preview */
.blog-preview {
  padding: 10px 16px;
  margin: 16px 0;
  border-bottom: 5px solid #ba90c6;
  transition: box-shadow 0.4s ease-in-out;
}

.blog-preview:hover {
  box-shadow: 1px 3px 5px #000000;
}

.blog-preview h2 {
  font-size: 20px;
  color: #3d3c42;
  margin-bottom: 5px;
  font-weight: 700;
}

.blog-list {
  padding: 10px 16px;
  margin: 16px 0;
  border-bottom: 5px solid #f2f2f2;
}

.delete-btn {
  border: none;
  background-color: #7f5283;
  border-radius: 5px;
  padding: 10px;
  color: #ffffff;
  margin-left: auto;
}
.delete-btn:hover {
  border: none;
  background-color: #ba90c6;
  border-radius: 5px;
  padding: 10px;
  color: #ffffff;
  margin-left: auto;
}

.blog-body {
  display: flex;
  align-items: center;
}

